<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="content/css/bootstrap.min.css">
    
    <script src="content/js/bootstrap.min.js"></script>
    <script src="content/js/jquery-3.5.1.min.js"></script>
    <title>Trading Service</title>
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="content/css/style.css">
</head>
<body>
    <section style="background: url('images/blue-background.png') ;background-position: center;
    background-repeat: no-repeat; background-size: cover;">
        <div class="container">

      
       <div class="row  d-flex justify-content-center">
        
           <div class="col-md-6 m-4 mb-10  d-flex justify-content-around" style="background-color: white;border-radius: 1%;">
               
            <form action="">
                <p class="text-center font-weight-bold" style="padding-top: 25px;"><span style="padding-right: 5px;font-size: 20px;"><i class="far fa-user"></i></span>ACCOUNT</p>
                <div class="row " id="info" style="width:95%;">
                    <div class="col-md-6 ">
                        Personnal Information
                    </div>
                    <div class="col-md-6 text-right" >
                        Step 1/3
                        
                    </div>
                </div>
                <!-- form section start here -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                        <label for="">First Name<span style="color:red;">*</span></label> 
                        <input type="text" class="form-control custom-first">
                         </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                        <label for="">Last Name<span style="color:red;">*</span></label>
                        <input type="text" class="form-control custom-first"> 
                         </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Email<span style="color:red;">*</span></label>
                    <input type="email" class="form-control custom"> 
                </div>
                <div class="form-group">
                    <label for="">Phone No<span style="color:red;">*</span></label>
                    <input type="number" class="form-control custom"> 
                </div>
                <div class="form-group">
                    <label for="">Password<span style="color:red;">*</span></label>
                    <input type="password" class="form-control custom"> 
                </div>
                <div class="form-group">
                    <label for="">Confirm Password<span style="color:red;">*</span></label>
                    <input type="password" class="form-control custom"> 
                </div>
                <div class="form-group">
                    <label for="">Telegram ID<span style="color:red;">*</span></label>
                    <input type="password" class="form-control custom"> 
                </div>
                <div class="form-group">
                    <label for="">Twitter Account<span style="color:red;">*</span></label>
                    <input type="text" class="form-control custom"> 
                </div>
                <div class="form-group">
                   <input type="checkbox" class="" style=""> <span style="font-size: 12px;">By Clicking to Sign up you agree to our <span>terms and condations</span></span> 
                   
                    
                </div>
                <div class="row last-row" style="padding-bottom: 25px;padding-top: 10px;">
                    <div class="col-md-6">
                        <a href="" class="btn btn-block  btn-primary" style="width: 80%;">Back</a>
                    </div>
                    <div class="col-md-6">
                        <a href="" class="btn btn-block  btn-dark" style="width: 80%;">Next</a>
                    </div>
                </div> 
            </form>
       
           </div>
        
       </div>
    </div>
</section>
</body>
</html>